.negrita {
  font-weight: bold;
}

.contenedorFlex-cabeceraFija{
  background-image: linear-gradient(
                                    rgba(7, 93, 136, 0.5) 60%, 
                                    hsla(200deg,50%,70%,0.5)
                                   ) ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;  /* alargamiento de los items para ocupar la longitud del eje transversal (perpendicular al eje principal) */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.cabeceraFija__item{
  flex-shrink: 1; /* factor de encogimiento: 0 no se encoge, 1 se encogen por igual */
  flex-grow: 0; /* factor de crecimiento: 0 no crece, 1 crecen por igual */
  
}
.contenedorFlex-cabeceraFija__titulos{
  /* background-color: yellow; */
  display: inline-block;
  text-align: right;
  margin-left: 3rem;
}

.cabeceraFija__titulos--nombreUsuario{
  color: hsla(240deg, 50%, 100%, 1);
}

.cabeceraFija__titulos--motivo{
  color: hsla(240deg, 50%, 90%, 1);
}

.cabeceraFija__titulos--actualidad{
  color: hsla(240deg, 50%, 90%, 1);
}


.cabeceraFija__foto{
  width: 100px;
  /* "height" se toma del valor "stretch" de la propiedad "align-items" del contenedor flex */
  display: inline-block;
  background-image: url(recursos/pedrosm-rojo-100x138.jpg);
  background-repeat: no-repeat;
  /* background-clip: content-box; */
  /* border-style: solid;
  border-width: 2px; */
  /* border-radius: 5px; */
  /* padding: 0.5rem; */
  background-size: auto 100%; /* especifica "width" y "height" */
  background-position: center;
  /* box-shadow: 0 5px 30px -10px #000; */
}

.contenedorFlex-navSeccion{
  display: flex;
  background-color: hsla(200deg,50%,50%,0.5);
  height: 2em;
  justify-content: space-around;
  align-items: center;
}

.item-NavSeccion{
  display: inline-block;
  /* text-decoration: none; */
}
